<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script>
        function deletaCliente(cliId){
            if(confirm("Certeza que gostaria de excluir um cliente do sistema? essa operação é irreversivel ")){
                
            }
        }
    </script>
    <title>cliente</title>
</head>
<body>
    <%- include("partials/header") %>
    <h1>cliente</h1>
    <ul>
        <% clientes.forEach(cliente => {  %>
            <li>nome: <%- cliente.nome %> endereço: <%- cliente.endereco %> - <button class="btn btn-danger mt-2 w-1 h-1" onclick="deletaCliente(<%- cliente.cliId %>)">EXCLUIR CLIENTE </button></li>
            <% }); %>
    </ul>
</body>
</html>