<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>Corretor</title>
</head>
<body>
    <%- include('partials/header') %>
    <h1 class="">CORRETOR</h1>
    <a href="/corretor/cadastraCorretor"><button class="btn btn-primary">Cadastra Corretor</button></a>
</body>
</html>